@using OpenClasses.Auth

@{
    ViewData["Title"] = "EditML";
    ViewBag.ShowPopup = false;
    var users = ViewBag.AllUsers as List<UserDto>;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container mt-3">
    <h1 class="mb-4">Управление нейросетью</h1>
    <h2 class="mb-4">
        Добавить файл в формате CSV
    </h2>

    @using (Html.BeginForm("UploadFile", "WorkSpace", FormMethod.Post, new {enctype="multipart/form-data"}))
    {
        <input type="file" name="file" accept=".csv"/><br>
        <input type="submit" value="Загрузить" />
    }

    @if (ViewBag.ShowPopup)
    {
        <script type="text/javascript">
            alert("Файл успешно загружен!");
        </script>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
